:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --theme-main-color: #333333;
  --theme-main-light: #f5f5f5;
  --theme-white-color: rgba(255,255,255,1);
  --theme-secondary-color: rgba(203,203,203, 0.3);
  --light-color:#F5F5F5;
  --theme-border-color:#E7E7E7;
  --font-family-base: Poppins, sans-serif;
  --font-weight: 600;
  --font-weight-basic: 400;
  --font-weight-bold: 700;
  --font-size-base: 16px;
  --white: #fff;
  --black: #333333;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html {
  font-size: 16px;
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  min-height: 100%;
  width: 100%;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
   min-height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 font-family: var(--font-family-base); 
}

body,
p,
ul,
li{
    font-size: 16px;
    @media (max-width:767px){
       font-size: 16px !important; 
    }
}

body,
p,
ul,
li,
strong {
    color: var(--black); 
    font-family: var(--font-family-base); 
    letter-spacing: 0;
    line-height: 36px;
}

body,
body p,
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body div {
    font-family: var(--font-family-base); 
}

body a{
  color: var(--black);
}
a {
  color: inherit;
  text-decoration: none;
}


img {
  display: block;
  max-width: 100%;
  height: auto;
}


/* hr default */

body hr {
  border-top: 2px solid #ccc;
}

/* heading font */

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-weight: var(--font-weight-basic);
  color: var(--black);
}

body h1{
  font-size: 5rem;
}
body h2{
  font-size: 4rem;
}
body h3{
  font-size: 1.875rem;
}
body h4{
  font-size: 1.75rem;
}
body h5{
  font-size: 1.25rem;
}
body h6{
  font-size: 1rem;
}

@media (max-width:1024px) and (min-width:768px){
  body h1{
      font-size: 2rem;
      font-weight: 600;
  }  
}

@media (max-width:767px){
  body h1{
      font-size: 3rem;
  }
  body h2{
      font-size: 2rem;
  }
  body h3{
      font-size: 1.5rem;
  }
  body h4{
      font-size: 1.25rem;
  }
  body h5{
      font-size: 1.125rem;
  }
  body h6{
      font-size: 1rem;
  }
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
  line-height: 1.6;
}

h1,
h1 a,
h2,
h2 a,
h3,
h3 a,
h4,
h4 a,
h5,
h5 a,
h6 h6 a {
  color: var(--black); 
}

p {
  font-size: var(--font-size-base);
  line-height: 27px;
  color: var(--black); 
  font-family:var(--font-weight-basic);
}

a {
  font-size: var(--font-size-base);
  line-height: 36px;
  color: var(--black);
  font-family: var(--font-weight-basic); 
  display: inline-block;
  text-decoration: none;
}

/* alignment css  */
  .text-align-right{
    text-align: right;
  }
  .text-align-center{
    text-align: center;
  }


/* close */

/* width css */

.w-100{
  width: 100%;
}

/* button css */


button.primaryGray{
  border-radius: 48px;
  background: var(--bg-100-opacity, #F1F0EE);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight);
  color: var(--black);
  padding: 8px 21px;
  text-transform: capitalize;
}

button.primaryGray:hover{
  background: var(--bg-100-opacity, #F1F0EE);
}

button.primaryOutline{
  background: transparent;
  font-size: 18px;
  font-weight: var(--font-weight);
  color: var(--black);
  padding: 14px 28px;
  text-transform: capitalize;
  border-radius: 92px;
  border: 1px solid var(--black);
  box-shadow: 0px 0px 15.000000953674316px 3.750000238418579px rgba(63, 61, 86, 0.05);
}

button.primaryOutline:hover{
  background: transparent;
  box-shadow: none;
}